<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <!--ASOCIARLO A UNA PROPIEDAD DE NUESTRA CLASE
        = personajes main page component
        [personajes] propiedad a la que le asociamos valor viene del nombre del input personajes component
        
        <app-personajes [personajes] = personajes>
        </app-personajes>-->


        <!--LISTADO 01 BASES
            <app-personajes> </app-personajes> -->

        <!--Llamamos al nuevo componente 02 BASES-->
        <app-dbz-list></app-dbz-list>
    </div>


    <div class="col">
        <!-- <p>Personaje: <small>{{nuevo.nombre}}</small></p>
        
        valor del form, NUEVO ESPERA EL VALOR-->
        <!-- <app-agregar [personajes]="personajes"
        [nuevo]="nuevo"></app-agregar> -->

        <!--SOLO AGREGAR NO MOSTRAR
        *llamar metodo cuando se dispare
        *evento click, valor del input, target $event
        -->
        <add-dbz-personaje [nuevo]="nuevo" ></add-dbz-personaje>
        <!-- (onNuevoPersonaje)="agregarNuevoPersonaje( $event )" -->

    </div>

</div>