<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <!--ASOCIARLO A UNA PROPIEDAD DE NUESTRA CLASE
        = personajes main page component
        [personajes] propiedad a la que le asociamos valor viene del nombre del input personajes component
        
        <app-personajes [personajes] = personajes>
        </app-personajes>-->


        <!--LISTADO 01 BASES
            <app-personajes> </app-personajes> -->

        <!--Llamamos al nuevo componente 02 BASES
        AGREGAMOS[] = [] POR QUE ES ARRAY (INTERFACE)-->
        <app-dbz-list [characterList]="characterList"></app-dbz-list>
    </div>


    <div class="col">
        <!-- <p>Personaje: <small>{{nuevo.nombre}}</small></p>
        
        valor del form, NUEVO ESPERA EL VALOR-->
        <!-- <app-agregar [personajes]="personajes"
        [nuevo]="nuevo"></app-agregar> -->

        <!--SOLO AGREGAR NO MOSTRAR
        *llamar metodo cuando se dispare
        *evento click, valor del input, target $event
      
        <add-dbz-personaje [nuevo]="nuevo" ></add-dbz-personaje>  -->

        <!--NEW CHARACTER-->
        <add-dbz-personaje (onNewCharacter)="onNewCharacter($event)" ></add-dbz-personaje>
 
        <!-- (onNuevoPersonaje)="agregarNuevoPersonaje( $event )" 
        
        ***************
        [] PARA MANDAR POR INPUTS, O A ATRIBUTOS PADRE-HIJO
        () PARA ESCUCHAR EVENTOS
        -->

    </div>

</div>